In [1]:
import pandas as pd

In [2]:
retornos = pd.read_excel('/Users/matias/Library/CloudStorage/GoogleDrive-mvilla@buenavistacapital.com/.shortcut-targets-by-id/1Lbjcks5sDTC17AftNR6mDxW8bwAA7EaA/BVC/Asset Allocation/bbdd seleccion portafolio.xlsx', sheet_name='Retornos')
barings = pd.read_excel('/Users/matias/Desktop/Proyectos/LAKPA-2.0/Portafolio/BBDD/Precios Barings.xlsx', sheet_name='Data')

In [3]:
retornos

,Dates,SPX Index,MXEUG Index,UKX Index,MXJP Index,MXAPJ Index,MXLA Index,LF98TRUU Index,LUACTRUU Index,LBEATRUH Index,BSELTRUU Index,BSSUTRUU Index,CABS Index,BCOMTR Index,GLD US EQUITY,MXWD Index,Private Debt,Private Equity
0,2025-12-29,9352.6301,453.7465,24122.9172,19.2420,1152.8599,5228.6216,2908.63,3546.54,315.86,1279.7755,458.3611,257.983,278.8324,416.74,1503.6729,NaN,216.72
1,2025-12-28,9352.6301,453.7465,24102.0585,19.2420,1152.8599,5228.6216,2908.63,3546.54,315.86,1279.7755,458.3611,257.983,283.1244,416.74,1503.6729,NaN,216.72
2,2025-12-27,9352.6301,453.7465,24102.0585,19.2420,1152.8599,5228.6216,2908.63,3546.54,315.86,1279.7755,458.3611,257.983,283.1244,416.74,1503.6729,NaN,216.72
3,2025-12-26,9352.6301,453.7465,24102.0585,19.2420,1152.8599,5228.6216,2908.63,3546.54,315.86,1279.7755,458.3611,257.983,283.1244,416.74,1503.6729,NaN,216.72
4,2025-12-25,9354.5815,454.2251,24102.0585,19.2738,1148.2101,5215.1961,2909.19,3545.84,315.82,1279.9827,458.3835,257.794,280.2851,411.93,1503.3278,NaN,216.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5849,2009-12-24,1128.3889,138.4434,8624.4220,6.2528,407.3343,4069.3274,1047.69,1883.73,188.63,554.6907,210.4230,150.244,276.9486,108.36,300.0591,NaN,NaN
5850,2009-12-23,1122.4861,138.4527,8588.8493,6.1866,402.9375,4043.5492,1047.55,1891.02,188.62,555.1265,210.4938,150.368,275.4902,106.55,298.3814,NaN,NaN
5851,2009-12-22,1119.6683,137.3385,8523.7259,6.1664,398.5092,4004.6885,1046.41,1889.69,188.91,555.3576,210.5412,150.258,270.5780,106.17,296.3600,NaN,NaN
5852,2009-12-21,1115.6747,136.6045,8517.0090,6.1270,395.1233,3964.6335,1044.88,1893.96,189.14,554.5421,210.4116,150.407,270.7502,106.95,295.2559,NaN,NaN
5853,2009-12-20,1104.0608,134.7947,8376.2673,6.1667,397.9254,3976.9719,1044.25,1905.70,189.55,555.2780,210.5655,150.639,271.8540,108.95,292.7945,NaN,NaN

In [4]:
barings

,Fecha,Activo,Precio,Dividendos,Total_return,Columna1,Columna2
0,2023-12-29,CFI-MBPDUA,99.9248,NaN,99.924800,99.924800,NaN
1,2024-01-01,CFI-MBPDUA,99.9326,NaN,99.932600,99.932600,NaN
2,2024-01-02,CFI-MBPDUA,99.9499,NaN,99.949900,99.949900,NaN
3,2024-01-03,CFI-MBPDUA,99.9724,NaN,99.972400,99.972400,NaN
4,2024-01-04,CFI-MBPDUA,99.9975,NaN,99.997500,99.997500,NaN
...,...,...,...,...,...,...,...
133,2025-10-03,CFI-MBPDUA,97.9000,0.000000,116.595625,97.900000,NaN
134,2025-10-27,CFI-MBPDUA,97.4200,0.766439,116.936764,98.186439,NaN
135,2025-10-29,CFI-MBPDUA,97.4100,0.000000,116.924760,97.410000,NaN
136,2025-11-26,CFI-MBPDUA,97.2600,0.765272,117.663293,98.025272,NaN
137,2025-12-29,CFI-MBPDUA,96.9000,0.765272,118.153583,97.665272,NaN

In [5]:
import pandas as pd
import numpy as np

# --- 1) Normalizar fechas en retornos ---
ret = retornos.copy()
ret["Dates"] = pd.to_datetime(ret["Dates"], errors="coerce").dt.normalize()

# --- 2) Normalizar fechas en barings y quedarnos con Total_return ---
bar = barings.copy()
# En tu tabla se ve "Fecha" y "Total_return"
bar["Fecha"] = pd.to_datetime(bar["Fecha"], errors="coerce").dt.normalize()

# Asegura que sea numérico
bar["Total_return"] = pd.to_numeric(bar["Total_return"], errors="coerce")

# Nos quedamos con lo mínimo y quitamos duplicados por fecha (por si existieran)
bar_map = (
    bar[["Fecha", "Total_return"]]
    .dropna(subset=["Fecha"])
    .drop_duplicates(subset=["Fecha"], keep="last")
    .set_index("Fecha")["Total_return"]
)

# --- 3) Mapear por fecha y rellenar Private Debt ---
# (esto no depende del orden de las filas)
mapped = ret["Dates"].map(bar_map)

# Rellena solo donde Private Debt esté NaN
ret["Private Debt"] = ret["Private Debt"].fillna(mapped)

# Si quieres SOBREESCRIBIR toda la columna con lo de barings (en vez de fillna), usa:
# ret["Private Debt"] = mapped

# --- 4) Dejar el dataframe en la misma forma y orden original ---
retornos = ret

# (opcional) Chequeo rápido
print("NaNs en Private Debt después:", retornos["Private Debt"].isna().sum())
print("Fechas matcheadas:", mapped.notna().sum())
retornos = retornos.bfill()
retornos.to_excel('Private_debt_filled.xlsx', index=False)

NaNs en Private Debt después: 5716
Fechas matcheadas: 138